<!DOCTYPE html>
<html lang="en">

<head>

	<!-- All Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="style/sweetalert2.min.css" rel="stylesheet">
</head>

<body>

    <h1>Sweet Alert 4 Delphi</h1>

    {%IWBTN_BASIC_SERVER%}    
    {%IWBASIC_CLIENT%}

    <br /> <br />

    {%IWBTN_SUCCESS_SERVER%}
    {%IWBTN_ERROR_SERVER%}
    {%IWBTN_WARNING_SERVER%}
    {%IWBTN_INFO_SERVER%}

    <br /> <br />

    {%IWBTN_SUCCESS_CLIENT%}
    {%IWBTN_ERROR_CLIENT%}
    {%IWBTN_WARNING_CLIENT%}
    {%IWBTN_INFO_CLIENT%}

    <br /> <br />

    {%IWBTN_QUESTION%}

    <script src="js/sweetalert2.all.min.js" ></script>
    <script src="js/sweetalert2.min.js" ></script>    
    <script src="js/sweetalert.custom.js"></script>

    
    
</body>
</html>    